# Rust build artifacts
/target/
/**/target/

# Cargo dependency lock file (optional)
/Cargo.lock

# Build output directories
/dist/
/**/dist/

# Node.js dependencies
/node_modules/
/**/node_modules/

# Compiled source files
*.rs.bk

# Output of `cargo doc`, the documentation files
/target/doc/
/**/target/doc/

# Temporary files
*.tmp
*.temp
*.log
*.bak
*.swp
*.swo

# IDE-specific files (VS Code, JetBrains IDEs)
.vscode/
/.vscode-test/
.idea/
/.idea_modules/
/*.iml
/*.ipr
/*.iws

# Operating system files
.DS_Store


# Ignoring specific files in ex3_ground_station_dashboard
/ex3_ground_station_dashboard/dist/
/ex3_ground_station_dashboard/target/
/ex3_ground_station_dashboard/Cargo.lock
